<div class="px-5 pt-5 flex justify-between filterNav">


    <div>
        <a href="/admin/products/all">
            <button type="button"
                class="text-[#04537D] border border-gray-400 hover:border-[#04537D] focus:ring-2 focus:outline-none font-medium rounded-md text-sm w-32 py-1.5  text-center me-2 mb-2 btn">View
                Products</button>
        </a>
        <a href="/admin/products/add">
            <button type="button"
                class="text-[#04537D] border border-gray-400 hover:border-[#04537D] focus:ring-2 focus:outline-none font-medium rounded-md text-sm w-32 py-1.5 text-center me-2 mb-2 btn">Add
                Product</button>
        </a>
    </div>


<div class="filterContainer">
    {{> filterDropdown}}
</div>



</div>