<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
{{> generalCss}}
</head>
<body class="">
    

{{> navbar}}
<div class="md:hidden">
{{> bottomNav}}
</div>



{{> generalScript}}
</body>
</html>